<ion-header>
  <ion-toolbar>
    <ion-title>Add note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Create a new note</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <form [formGroup]="form" >
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Title</ion-label>
                <ion-input type="text" formControlName="noteTitle"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Category</ion-label>
                <ion-select formControlName="category">
                  <ion-select-option *ngFor="let category of categories" [value]="category.id">
                    {{ category.name }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Content</ion-label>
                <ion-textarea formControlName="noteContent"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Date</ion-label>
                <ion-datetime display-format="YYYY-MM-DDTHH:mm" min="2000-01-01" formControlName="date"></ion-datetime>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button (click)="add()" [disabled]="!form.valid">Add to list</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
<div *ngIf="isLoading" class="spin">
  <ion-spinner name="crescent" color="danger"></ion-spinner>
</div>
